# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual environment
venv/
vehicleservice/
.env

# Django static/media
media/
staticfiles/

# React
frontend/node_modules/
frontend/build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
# Environments
.env